name: Publish package

on:
  push:
    branches:
      - main
jobs:
  check-version:
    name: Check if version changed
    runs-on: ubuntu-latest
    outputs:
      version-changed: ${{ steps.check.outputs.changed }}
      version: ${{ steps.check.outputs.version }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: Check if package.json version changed
        id: check
        shell: bash
        run: |
          CURRENT_VERSION=$(jq -r .version package.json)
          git checkout HEAD^
          PREVIOUS_VERSION=$(jq -r .version package.json)

          changed=$([ "$CURRENT_VERSION" != "$PREVIOUS_VERSION" ] && echo "true" || echo "false")
          echo "changed=$changed" >> "$GITHUB_OUTPUT"
          echo "version=$CURRENT_VERSION" >> "$GITHUB_OUTPUT"
  publish-npm:
    name: Publish to NPM registry
    needs: check-version
    if: needs.check-version.outputs.version-changed == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v4
        with:
          node-version: "20.x"
          registry-url: "https://registry.npmjs.org"
      - run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
  publish-jsr:
    name: Publish to JSR registry
    needs: check-version
    if: needs.check-version.outputs.version-changed == 'true'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - run: npx jsr publish
